
{% extends "AppCoder/padre.html" %}
{% load static %}

    {% block titulo %}
        <h1>Bienvenidos a la pagina de Estudiantes!</h1>
    {% endblock %}
    
    {% block contenido_que_cambia %}

    <h1> Hola Estudiantes</h1>

    <form action="/estudiante.html" method="post">
        {% csrf_token %}

        <p> nombre:  <input type="text" name="nombre">  </p>
        <p> apellido:  <input type="text" name="apellido">  </p>
        <p> email:  <input type="text" name="email">  </p>
    
        <input type="submit" value="Agregar">  

    </form>    
    
    {% endblock %}
