
<!DOCTYPE html>
        <html lang=”en”>
        <head>
            {% load static %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
           
            {% block contenido_que_cambia %}
            <title>Cursos</title>
            {% endblock %}

            <link rel="stylesheet" href="/css/normalize.css">
            <link rel="stylesheet" href="/css/styles.css">

        </head>
        <body> 

            <nav class="navbar navbar-light bg-light static-top">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'inicioApp' %}">51325</a>
                    <a class="btn btn-primary" href="{% url 'cursos' %}">CURSOS</a>
                    <a class="btn btn-primary" href="{% url 'estudiantes' %}">ESTUDIANTES</a>
                    <a class="btn btn-primary" href="{% url 'profesores' %}">PROFESORES</a>
                </div>
            </nav>
            
            {% block contenido_que_cambia %}
            {% endblock %}

        </body>
        
        </html>